@model ProjectManagement.ViewModel.VMYourCourses

    @using ProjectManagement.Models

@{
    ViewBag.Title = "AddCourse";
}

<h2>AddCourse</h2>

<table class="">
    <tr>
        <td>  שם קורס  </td>


    </tr>
    @foreach (Courses obj in Model.courses)
    {
        <tr>
            <td>@obj.name </td>
      
    </tr>
}
</table>
<<div id="AddCourse">
    @using (Html.BeginForm("AddCourseSub", "Manager", FormMethod.Post, new { Class = "form-group" }))
    {
       
        <div>
            <label>שם</label>
            @Html.TextBoxFor(m => m.course.name, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.course.name)</div>
        </div>
        <div style="color:red">
            @ViewBag.errorUserLogin
        </div>
        <br />
        <div class="input-group">
            <input class="btn btn-primary" id="ADD" type="submit" value="הוסף" />
        </div>
        <div style="color:green">@TempData["courseSuccessMsg"]</div>
    }
</div>