@using ProjectManagement.Models

@{
    ViewBag.Title = "ShowManagerPage";
}

<h4>שלום @(((User)(Session["CurrentUser"])).FirstName)</h4>

<div class="row">
    <div class="col-sm-offset-8">
        <button id="showGroups" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("ShowRoommatePage", "Roommate")'">הצג את כל הקבוצות</button>
        <button id="addGroup" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("AddCourse")'">צור קורס חדשה</button>
        <button id="addUserToGroup" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("AddUserToGroup")'">הוספת משתמש לקבוצה</button>
        <button id="Forums" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("Forum")'">פורומים</button>
    </div>
</div>