@model ProjectManagement.Models.Form

@{
    ViewBag.Title = " ";
}

<h1 style="color:blue " > @Model.NameOfProject שם הפרוייקט</h1>


<h2 >  @Model.General  כללי </h2>

<h2>  @Model.Goals  יעדים ומטרות </h2>

<h2>  @Model.Problem  בבעיות </h2>

<h2>  @Model.Essence  יישום </h2>

<h2>  @Model.Implementaion  מימוש </h2>





