@model ProjectManagement.Models.UpdatePass

@{
    ViewBag.Title = "UpdatePassword";
}

<h2>עדכן סיסמה</h2>

<div id="updateForm">
    @using (Html.BeginForm("UpdateDeveloperPassSubmit", "Developer", FormMethod.Post, new { Class = "form-group" }))
    {

        <div>
            <label>סיסמה נוכחית</label>
            @Html.TextBoxFor(m => m.OldPassword, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.OldPassword)</div>
        </div>

        <div>
            <label>סיסמה חדשה</label>
            @Html.TextBoxFor(m => m.NewPassword, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.NewPassword)</div>
        </div>

        <div>
            <label>אימות סיסמה</label>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</div>
        </div>

        <div style="color:red">
            @ViewBag.errorUserRegister
        </div>
        <br />
        <input class="btn btn-primary" id="update" type="submit" value="עדכן" />
    }
    </div>
